body, html {
    background-image: url(/Imagenes/Shalom.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    padding: 10px 20px;
    justify-content: flex-end;
}

.logo{
    padding-top: 10px;
    margin-left: 2px;
    width: 7%;
}

.menu{
    float: right;
    direction: ltr;
    display: block;
    box-sizing: border-box;
    margin-right: 0;
    position: relative;
}

.menu__btn{
    position: relative;
    float: none;
    padding: 9px 10px;
    margin-top: o;
    margin-bottom: 8px;
    border: none;
    font-family: 'krona One';
    font-size: 24px;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: row;

}

.menu__btn:hover{
    background-color: #F6F6F6;
}

.dropdown {
    font-size: 19px;
    font-family: Times;
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.dropdown a {
    display: block;
    color: white;
    padding: 5px 0;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    color:#47401d;
    flex-direction: flex;    
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    padding: 5px;
    padding-left: 20px;
    color: #97b414;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #97b414;
    margin-bottom: 20px;
}

.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    flex: 1;
    padding: 10px;
    
}

.text{
    background-color: rgba(0, 0, 0, 0.5);
}

.principios{
    width: 99%;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    margin: 0;
    color:#F6F6F6;
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .logo {
        width: 20%;
    }

    h1 {
        font-size: 30px;
    }

    .menu__btn {
        font-size: 18px;
    }

    main {
        font-size: 20px;
    }

    .columns-container {
        flex-direction: column;
        padding: 0 10px;
    }

    .column {
        padding: 5px;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        width: 10%;
    }

    h1 {
        font-size: 35px;
    }

    .menu__btn {
        font-size: 22px;
    }

    .columns-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .column {
        flex: 1;
        padding: 10px;
    }
}