/* Import icons for RemixIcon */
@import url("https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css");

/* Import font for Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Settings default the all website */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;

  & .container {
    width: 98%;
    max-width: 1200px;
    display: flex;
  }
}
